name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Run TDD test
      id: run-tdd-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Run TDD test
        setup-command: ''
        command: mvn test
        timeout: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        RUN-TDD-TEST_RESULTS: "${{steps.run-tdd-test.outputs.result}}"
      with:
        runners: run-tdd-test
